<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;devday&quot;}">
  <meta charset="UTF-8" name="package-mapping" content="com_vaadin_devday_ui_view_products:com.vaadin.devday.ui.view.products">
 </head> 
 <body> 
  <vaadin-form-layout size-auto margin> 
   <vaadin-text-field caption="Product name" _id="name"></vaadin-text-field> 
   <vaadin-text-area caption="Description" null-representation="" _id="description"></vaadin-text-area> 
   <com_vaadin_devday_ui_view_products-eur-currency-field caption="Price" _id="priceCents"></com_vaadin_devday_ui_view_products-eur-currency-field> 
  </vaadin-form-layout>  
 </body>
</html>